name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@a31c93984c7cdbab7368c2c8efdac0ef1b2e341e
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
